# Node modules
frontend/node_modules/

# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Environment variables
.env

# Build folders
frontend/dist/

# VS Code
.vscode/